*{
    margin: 0;
    padding: 0;
}
header{
    padding:2%;
    background-color: #333;
    text-align: center;
    color:#e5e5e5;
}
header h1{
    padding-bottom:2%;
}
main{
    margin-top:3%;
    margin-left:2%;
}
main h4{
    padding-bottom:2.5%;
}
.left{
    display:inline;
    float:left;
}

.right{
    margin-left:15%;
}