*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.icon{
    width: 10%;
    height: auto;
}
.burger{
    top:5px;
    left:   395px;
    position:absolute;
    border:none;
}
.bottom_header{
    position:relative;
    left:105px;
    margin-bottom:10%;
}
.bottom_header h1{
padding-bottom:6%;   
}
main h2{
    position:relative;
    left:2%;
}
main p{
    margin:2%;
    font-size:15px;
    color:grey;
    position:relative;
    left:4%;
    max-width: 390px;
}
article{
    display: inline-block;
    width:90%;
    margin:2%;
    background-color:#333;
    padding:3%;
    border-radius:20px;
    color:#f9f9f9;
}
article p{
    font-size:12px;
    position: relative;
}
.img_custom{
    width: 25%;
    height: auto;
}
/* responsive */ 
@media (min-width: 481px) and (max-width: 768px) {
    /* Styles pour les tablettes en portrait et grands mobiles en paysage */
}
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles pour les tablettes en paysage et petits ordinateurs */
}@media (min-width: 1025px) {
    /* Styles pour les ordinateurs de bureau */
}